.container {
  padding: 15px;
}

img.empty-state {
  width: 30%;
  margin-top: 45px;
}

body {
  background-image: url("./assets/bg.svg");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 100px;
}
